rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow read access to audio files for all users
    match /audio/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
    
    // Keep other paths restricted by default
    match /{allPaths=**} {
      allow read, write: if false;
    }
    
  }
}
