/* Settings ------------------- */
:root {
  --coin-diam: 9rem;
  --coin-depth: calc(var(--coin-diam) * 0.1);
  --spin-speed: 4s;
  --facets: 32;
  --spokes: calc(var(--facets) / 2);
  --facet-length: calc(var(--coin-diam) * sin(calc(3.14159 / var(--facets))));
  --facet-angle: calc((180deg - (360deg / var(--facets))) / 2);
}

/* Wrapper -------------------- */
.purse {
  height: var(--coin-diam);
  width: var(--coin-diam);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: calc(var(--coin-diam) * -0.5);
  margin-left: calc(var(--coin-diam) * -0.5);

  perspective: 1000px;
  -webkit-box-reflect: below 0
    linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 45%,
      hsla(0, 0%, 100%, 0.2)
    );
  filter: saturate(1.45) hue-rotate(2deg);
}

/* The Coin ------------------- */
.coin {
  height: var(--coin-diam);
  width: var(--coin-diam);
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: 50%;
  animation: spin var(--spin-speed) infinite linear;
}

/* Faces -------------------- */
.coin .front,
.coin .back {
  position: absolute;
  height: var(--coin-diam);
  width: var(--coin-diam);
  border-radius: 50%;
  background-size: cover;
}

.coin .front {
  transform: translateZ(calc(var(--coin-depth) / 2));
}

.coin .back {
  transform: translateZ(calc(var(--coin-depth) / -2)) rotateY(180deg);
}

/* The Side ----------------- */
.coin .side {
  transform: translateX(calc(var(--coin-diam) * 0.45));
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.coin .side .spoke {
  height: var(--coin-diam);
  width: var(--coin-depth);
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.coin .side .spoke::before,
.coin .side .spoke::after {
  content: "";
  display: block;
  height: var(--facet-length);
  width: var(--coin-depth);
  position: absolute;
  background: hsl(42, 52%, 68%);
  background: linear-gradient(
    to bottom,
    hsl(42, 60%, 75%) 0%,
    hsl(42, 60%, 75%) 74%,
    hsl(42, 40%, 60%) 75%,
    hsl(42, 40%, 60%) 100%
  );
  background-size: 100% calc((var(--facets) * var(--facet-length)) / 144);
  transform: rotateX(var(--facet-angle));
}

.coin .side .spoke::before {
  transform-origin: top center;
}

.coin .side .spoke::after {
  bottom: 0;
  transform-origin: center bottom;
}

/* Loop to position the spokes */
.coin .side .spoke:nth-child(1) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 0));
}
.coin .side .spoke:nth-child(2) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 1));
}
.coin .side .spoke:nth-child(3) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 2));
}
.coin .side .spoke:nth-child(4) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 3));
}
.coin .side .spoke:nth-child(5) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 4));
}
.coin .side .spoke:nth-child(6) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 5));
}
.coin .side .spoke:nth-child(7) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 6));
}
.coin .side .spoke:nth-child(8) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 7));
}
.coin .side .spoke:nth-child(9) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 8));
}
.coin .side .spoke:nth-child(10) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 9));
}
.coin .side .spoke:nth-child(11) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 10));
}
.coin .side .spoke:nth-child(12) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 11));
}
.coin .side .spoke:nth-child(13) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 12));
}
.coin .side .spoke:nth-child(14) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 13));
}
.coin .side .spoke:nth-child(15) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 14));
}
.coin .side .spoke:nth-child(16) {
  transform: rotateY(90deg) rotateX(calc(180deg / var(--spokes) * 15));
}

/* X Ray ------------------- */
.coin.skeleton .front,
.coin.skeleton .back {
  display: none;
}

.coin.skeleton .side,
.coin.skeleton .side .spoke,
.coin.skeleton .side .spoke::before,
.coin.skeleton .side .spoke::after {
  backface-visibility: visible;
}

.coin.skeleton .side .spoke {
  background: rgba(170, 170, 170, 0.1);
}

.coin.skeleton .side .spoke::before {
  background: rgba(250, 170, 170, 0.2);
}

.coin.skeleton .side .spoke::after {
  background: rgba(204, 204, 255, 0.2);
}

/* Body, obviously */
/* body {
  background-color: #1b1724;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

/* Just an animation */
@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* The images... */
.coin .front {
  background-image: url("/coinFront.png");
}

.coin .back {
  background-image: url("/coinBack1.png");
}

.coin-container {
  perspective: 1000px;
  position: relative; /* Ensure the container can hold absolutely positioned elements */
}
